@import url('https://fonts.googleapis.com/css?family=Bitter|Lobster|Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

body{
  margin: 0;
  padding: 0;
  height: 1000px;
 }
.banner{
  width: 100%;
  height: 69vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
.banner video {
  position: absolute;
  top:0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 45%;
  pointer-events: none;
 }
.banner .content{
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0;
 }
.banner ul{
  position: relative;
  bottom: -20px;
  left: 35%;
  }
.banner button{
  position: absolute;
  right: -50%;
  top:230px;
  border: 1px white double;
  color: white;
  }
.banner p span{
  font-size: 55px;
  padding-top: 50px;
  font-family:'Lobster', sans-serif;
  color: white;
  }
.banner p{
  font-size: 50px;
  font-family:'Lobster', sans-serif;
  color: rgb(222, 64, 64);
  }
.title h1{
  font-family: 'Ranga', cursive;
  font-size: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0,0,0,0.3);
  color: #FFF;
  text-transform: uppercase;
  }
.redes li i{
  color: rgb(30, 228, 191);
  }
.list-inline-item i{
  font-size: 35px;
  color: white;
  padding-top: 10px;
  padding-left: 7px;
  }
.part-two {
  padding-top: 5%;
  padding-bottom:5%;
  }
.part-two h1{
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Bitter', sans-serif;
  }
.part-two article{
  padding-bottom: 25px;
  height: auto;
  }
.part-two img{
  width: 100%;
  height: 162px;
  }
.card-body{
  display: flex;
  justify-content: center;
  }
.card-body a{
  border: 2px solid;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
.entretenimiento a{
  background-color: rgba(255, 168, 184);
}
.gastronomia a{
  background-color: rgba(169, 229, 227);
}
.viajes a{
  background-color: rgba(250, 225, 135);
}
.cursos a{
  background-color: rgba(220, 217, 248);
}
.relax a{
  background-color: rgba(181, 220, 249);
}
.aventura a{
  background-color: rgba(229, 190, 221);
}
.jumbotron-fluid{
  height: 346px;
}
.jumbotron-fluid video{
  position: relative;
  max-width: 30%;
  top: -60px;
}
.jumbotron-fluid h1{
font-size: 40px;
font-family:'Lobster', sans-serif;
color: rgb(222, 64, 64);
}
.jumbotron-fluid span{
  font-size: 45px;
  color:  rgb(30, 228, 191);
}
.jumbotron-fluid p{
font-size: 20px;
padding: 5%;
font-weight: bolder;
text-decoration: underline;
font-style: italic;
font-family: 'Bitter', sans-serif;
border: 2px solid;
margin: auto;
}

.section-products article{
  padding-bottom: 5%;
}
.section-products article img{
  border: none;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 15px;
}

section article img.carrito{
  width: 67px;
  height: 67px;
  position: absolute;
  top: 7px;
  right: 25px;
}
.part-three{
  padding-top: 5%;
}
.part-three h1{
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Bitter', sans-serif;
}
.section-products article{
  padding: 2%;
}
.section-products article h4{
  display: flex;
  justify-content: center;
  font-weight: bold;
  color:rgb(177, 13, 156);
  font-size: 22px;
}
.section-products article h3{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: 'Lobster', sans-serif;
}
.section-products article h5{
  text-align: center;
  font-size: 15px;
  font-style: italic;
}
.tell-me-more{
  margin: auto;
  padding-top: 5%;
}
button#tell-me-more{
  background-color: rgb(104, 125, 222);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Lobster', sans-serif;
  height: 57px;
  width: 218px;
}
.col-7{
  margin: auto;
  height: auto;
}
article.col-9{
  margin: auto;
}

@media (min-width: 1281px) {
.jumbotron p{
margin-bottom: 17%;
}
}

@media (min-width: 1025px) and (max-width: 1450px) {
.banner video{
height: 85%;
}
.jumbotron p{
margin-bottom: 17%;
}
}
@media (min-width: 790px) and (max-width: 1024px) {
.banner video{
display: none;
}

.banner{
background:url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 450px;
}
.redes li i{
display: none;
}
.title h1{
position: absolute;
top: -30%;
}
.title p {
position: relative;
top: 80px;
}
.jumbotron p{
margin-bottom: 17%;
}
}
@media (min-width: 481px) and (max-width: 789px) {
.banner video{
display: none;
}
.banner{
background: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
height: auto;
}
.jumbotron video{
display: none;
}
.jumbotron p{
padding: 5%;
}
}
@media (min-width: 0px) and (max-width:480px) {
.part-two h1{
color: violet;
}
.banner video{
display: none;
}
.banner{
background: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
height: auto;
}
.jumbotron video{
display: none;
}
}

/* formularios css */

.addgift{
  width: 50%;
  max-width: 600px;
  margin-left: auto;
  margin-right: 0;
}

.addgift form{
  padding-bottom: 7%;
  padding-top: 4%;
}
.addgift h1{
  font-family: 'Lobster', sans-serif;
}
.addgift form{
  width: 50%;
 position: relative;
 right: 30%;
}
.addgift .form-group{
  padding-left: 10px;
  padding-right: 10px;
}
.addgift input {
  display: flex;
  align-items: flex-end;
}
.addgift input[type="text"] {
  background-color: #f17288;
  width: 157%;
}
.addgift #description{
  height: 100px;
}
.addgift input[type="submit"] {
  background-color: rgb(104, 125, 222);
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Lobster', sans-serif;
  height: 45px;
  width: 300px;
  position: relative;
  left: 28%;
  top: 20px;
}


.addgift select{
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  align-items: center;
  width: 157%;
  padding: 5px 8px;
  /* border: none; */
  /* box-shadow: none; */
  /* background-color: transparent; */
  /* appearance: none; */
}
.addgift label{
  font-size: 20px;
  font-family: 'Bitter', sans-serif;
}
.fondo-add-gift{
  background-image:url('../img/ingreso.jpg');
  width: 50%;
  height: 114%;
  position: absolute;
  top: 10px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

}
/* Css de addcategory */

  .addcategory{
    padding-top: 3%;
    padding-bottom: 7%;
    max-width: 600px;

    /* margin-left: auto;
    margin-right: 0; */
  }
  .addcategory form{
   position: relative;
   right: 25%;
  }
  .addcategory .form-group{
    padding-left: 10px;
    padding-right: 10px;
  }
  .addcategory h1{
    font-family: 'Lobster', sans-serif;
  }
  .addcategory input {
    display: flex;
    align-items: flex-end;
  }
  .addcategory input[type="text"] {
    background-color: #f17288;
    width: 130%;
  }
  .addcategory label{
    font-size: 20px;
    font-family: 'Bitter', sans-serif;
  }
  .addcategory input[type="submit"] {
    background-color: rgb(104, 125, 222);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lobster', sans-serif;
    height: 45px;
    width: 300px;
    position: relative;
    left: 25%;
    top: 20px;
  }
