@import url('https://fonts.googleapis.com/css?family=Bitter|Lobster|Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');
* {
  padding: 0;
  font-family: 'Bitter', serif;
  font-family: 'Lobster', cursive;
  font-family: 'Playfair Display', serif;
}

.card{
  position: relative;

}
.fondo-register {
background-image:url('../img/index/ingreso.jpg');
width: 50%;
height: 781px;
background-repeat: no-repeat;
}


.container-form-registro {
  padding-top: 15%;
}

h1 {
  padding-left: 10%;
  padding-bottom: 5%;
}
img.user{
  width: 42px;
  height: 40px;
  position: relative;
  left: 2%;
  bottom: 0.4pc
}
input[type="text"], input[type="email"], input[type="password"] {
  background-color: #f17288;
}

input[type="radio"] {
  width: 30px;
}

button[type="submit"] {
    background-color: rgb(104, 125, 222);
    color: black;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    font-family: 'Lobster', sans-serif;
    height: 40px;
    width: 250px;
    position: relative;
    left: -17%;
}
.form-group button[type="submit"] {
  left: 0;

}
.form-group label{
  font-size: 15px;
  font-family: 'Bitter', sans-serif;
}
.card-body h1{
  font-family: 'Lobster', sans-serif;
}

.form-group {
  margin-bottom: 0rem;
  padding-top: 3%;
}
.card-body {
  padding-bottom: 15%;
}
.form-check-label{
  font-family: 'Playfair Display', serif;
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}
.forgetPass{
  color: rgb(166, 56, 171);
  font-weight: bold;
  position: absolute;
  top: 165%;
  left: 10%;
}
.botton-form-group {
  padding-left: 70px;
  padding-top: 15px;
}

.form-group-file {
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.select {
  display: inline-flex;
  border: 2px solid #ccc;
  height: 35px;
  background-color: #fff;
}

.select select {
  font-weight: bold;
  align-items: center;
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  appearance: none;
}

.calen-form-group {
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px
}

.form-check-inline {
  padding-left: 50px;
}

.ingreso-directo {
  display: flex;
  justify-content: center;
}

.ingreso-directo a {
  color: rgb(166, 56, 171);
  font-weight: bold;
}

.ingreso-directo span {
  padding-bottom: 12%;
}

label.genero-label {
  font-size: 20px;
}

span.error-form {
  color: red;
  font-style: italic;
  text-align: center;
  padding: 5px;
}
.terminosycondiciones{
  position: relative;
  left: 20%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .calen-form-group {
    padding-right: 10%;
  }

  .calen-form {
    padding-bottom: 15px;
  }

  .form-group-file {
    padding-right: 10%;
  }

  select.select {
    padding: 0;
  }

  form.form {
    padding-left: 14%;
  }

  .terminosycondiciones {
    padding-top: 15px;
    text-align: center;
  }

  .form-check-inline {
    padding-left: 0 !important;
  }

  .botton-form-group {
    padding-left: 10%
  }

  .ingreso-directo {
    padding-top: 3%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .terminosycondiciones {
    padding-top: 15px;
    text-align: center;
    padding-left: 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) {
  .terminosycondiciones {
    padding-top: 15px;
    text-align: center;
  }

  .ingreso-directo {
    text-align: center;
  }
}

/*
.caja-select{
  display: flex;
  justify-content: space-around;
  max-width: 403px;
}

.select {
  display: inline-flex;
  border: 2px solid #ccc;
  height: 35px;
  background-color: #fff;
}

.select:before {
    content: '';
    position: absolute;
    right: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none;
}

.select select {
    font-weight: bold;
    align-items: center;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    appearance: none;
}

.ingreso-directo{
  text-align: center;
  padding-top: 15px;
}

.ingreso-directo a{
    color:#ff637d;
}

a{
  text-decoration: none;
  color: #957DAD;
  font-weight: bold;
}


/*
@media screen and (min-width:450px) and (max-width:872px) {
        .formulario-view{
          width: 100%;
        }
        section#formulario{
          float: none;
        }

        .form-control{
        justify-content: center;
        padding-left: 20px;
        }
        input[type="text"], input[type="email"], input[type="password"]{
          width: 80%;
        }
        .caja-select{
          max-width: 85%;
        }
        input[type="submit"]{
          width: 80%;
        }
        h1{
        padding-right: 12%;
        }
        h3{
        padding-right: 16%;
        }
}
@media only screen and (min-width:872px){
      .container{
        max-width: 1200px;
      }

      .foto-registro-izq{
        display: inline-block;
        width: 49%;
      }

} */
*/
